extends layout

block content
    each unita, index in data
        div(style="border: 1px solid black; width: 50%; display: inline-block;")
            img(src=`../../images/${unita.Unit}.png` style="height: 330px; width: 277px; margin:auto; display:block;")
            br
            a(href=`/unit/search?id=${index}` )  
                h4(style="text-align: center") #{unita.Unit}