<h1 class="txt-center">{{selectedUnit.Unit}}</h1>
<p class="txt-center">Costo: {{selectedUnit.Cost}}</p>
<p class="txt-center">Velocità d'attacco: {{selectedUnit.Hit_Speed}}</p>
<p class="txt-center">Velocità di movimento: {{selectedUnit.Speed}}</p>
<p class="txt-center">Tempo di schieramento: {{selectedUnit.Deploy_Time}}</p>
<p class="txt-center">Raggio: {{selectedUnit.Range}}</p>
<p class="txt-center">Obiettivo: {{selectedUnit.Target}}</p>
<p class="txt-center">Numero: {{selectedUnit.Count}}</p>
<p class="txt-center">Trasport: {{selectedUnit.Transport}}</p>
<p class="txt-center">Tipo: {{selectedUnit.Type}}</p>
<p class="txt-center">Rarità: {{selectedUnit.Rarity}}</p>
<img class="ele-center" src='http://localhost:3000/images/{{selectedUnit.Unit}}.png' style="width: 277px; height:330px ">
<br>
<button class="btn btn-info btn-mod ele-center" (click)="toggleModifier()">Modifica</button>
<app-unit-modifier [selectedUnit]="selectedUnit" *ngIf="visuaModifier"></app-unit-modifier>