<h1>
    {{selectedUnit.Unit}}</h1>
<p>Costo: {{selectedUnit.Cost}}</p>
<p>Velocità d'attacco: {{selectedUnit.Hit_Speed}}</p>
<p>Velocità di movimento: {{selectedUnit.Speed}}</p>
<p>Tempo di schieramento: {{selectedUnit.Deploy_Time}}</p>
<p>Raggio: {{selectedUnit.Range}}</p>
<p>Obiettivo: {{selectedUnit.Target}}</p>
<p>Numero: {{selectedUnit.Count}}</p>
<p>Trasport: {{selectedUnit.Transport}}</p>
<p>Tipo: {{selectedUnit.Type}}</p>
<p>Rarità: {{selectedUnit.Rarity}}</p>
<img src='http://localhost:3000/images/{{selectedUnit.Unit}}.png' style="width: 277px; height:330px ">
<button (click)="toggleModifier()">Modifica</button>
<app-unit-modifier [selectedUnit]="selectedUnit" *ngIf="visuaModifier"></app-unit-modifier>